.carousel-inner {
    background-color: #8FD8D2;
}

.index-posts {
    padding:10px;
}

.post-single {
    list-style-type: none;
}

.post-title {
    font-size:2.2rem;
    font-weight: 600;
}

.post-meta {
    font-size:1rem;
    font-weight:200;
    color:#666;
}